@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "hk-grotesk";
    src: url("./font/HKGrotesk-Bold.woff2");
}

.title-text {
    color: #003A3D;
    text-shadow: 2.5px 2.5px 0px #65C3C8;
}

@keyframes jump {
    from {transform: translate(0, -100px);}
    to {transform: translate(0, 0);}
}

.jump-animation {
    animation-name: jump;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@layer base {
    body {
        @apply bg-[#FAF7F5] text-[#291334] font-[hk-grotesk]
    }

    .wrapper {
        @apply mx-[2.5rem] md:mx-[5rem] lg:mx-[10rem] xl:mx-[15rem] 2xl:mx-[30rem]
    }
}

